@import '~theme'

.PrimaryDetails
  border-top 1px solid $line
  border-collapse collapse
  width 100%
  th
    border-bottom 1px solid $line
    font-size 14px
    font-weight bold
    text-transform uppercase
    padding 4px 0
    text-align left
    &.totals
      text-align right
  td
    font-size 18px
    padding 20px 5px
    // border 1px solid green